<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603225722164-odm7h46cjnf29l10cg957lu9jh97fdpe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603225722164-odm7h46cjnf29l10cg957lu9jh97fdpe</string>
	<key>API_KEY</key>
	<string>AIzaSyCg26NyWZDxcd21ly12AFYGD82GW6qylUw</string>
	<key>GCM_SENDER_ID</key>
	<string>603225722164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodDeliveryApp</string>
	<key>PROJECT_ID</key>
	<string>food-delivery-3228d</string>
	<key>STORAGE_BUCKET</key>
	<string>food-delivery-3228d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603225722164:ios:f0b644d803e83e4e6ba961</string>
</dict>
</plist>